<h1>{{ 'info.end-user-agreement.head' | translate }}</h1>

@if (userAgreementText$ | async; as text) {
  <ds-markdown-viewer [value]="text"></ds-markdown-viewer>
} @else {
  <p><em>{{ 'legal.end-user-agreement.last-updated' | translate }}</em></p>

  <h2>{{ 'legal.end-user-agreement.heading.terms' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.terms.introduction' | translate: { repository: ('repository.title' | translate) } }}</p>
  <p>{{ 'legal.end-user-agreement.terms.supplemental' | translate }}</p>
  <p>{{ 'legal.end-user-agreement.terms.jurisdiction' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.intellectual-property' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.intellectual-property.introduction' | translate: { country: ('info.end-user-agreement.hosting-country' | translate) } }}<sup><a [routerLink]="'.'" fragment="comment-a" id="ref-a">{{ 'legal.end-user-agreement.intellectual-property.footnote' | translate }}</a></sup>{{ 'legal.end-user-agreement.intellectual-property.continuation' | translate }}</p>
  <p>{{ 'legal.end-user-agreement.intellectual-property.license' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.user-representations' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.user-representations.first' | translate }}</p>
  <p>{{ 'legal.end-user-agreement.user-representations.second' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.registration' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.registration.content' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.prohibited' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.prohibited.introduction' | translate }}</p>
  <p>{{ 'legal.end-user-agreement.prohibited.prompt' | translate }}</p>
  <ul>
    <li>{{ 'legal.end-user-agreement.prohibited.1' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.2' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.3' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.4' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.5' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.6' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.7' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.8' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.9' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.10' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.11' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.12' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.13' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.14' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.15' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.16' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.prohibited.17' | translate }}</li>
  </ul>

  <h2>{{ 'legal.end-user-agreement.heading.contributions' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.contributions.introduction' | translate }}</p>
  <ul>
    <li>{{ 'legal.end-user-agreement.contributions.1' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.2' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.3' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.4' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.5' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.6' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.7' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.8' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.9' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.10' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.11' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.12' | translate }}</li>
    <li>{{ 'legal.end-user-agreement.contributions.13' | translate }}</li>
  </ul>
  <p>{{ 'legal.end-user-agreement.contributions.conclusion' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.management' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.management.content' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.privacy' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.privacy.prefix' | translate }} <a class="link-contrast" [routerLink]="['/info/privacy']" target="_blank" rel="noopener noreferrer">{{ 'legal.end-user-agreement.privacy.link' | translate }}</a>{{ 'legal.end-user-agreement.privacy.suffix' | translate }}</p>
  <p>{{ 'legal.end-user-agreement.privacy.hosting' | translate: { country: ('info.end-user-agreement.hosting-country' | translate) } }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.termination' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.termination.first' | translate }}</p>
  <p>{{ 'legal.end-user-agreement.termination.second' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.modifications' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.modifications.first' | translate }}</p>
  <p>{{ 'legal.end-user-agreement.modifications.second' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.corrections' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.corrections.content' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.disclaimer' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.disclaimer.content' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.liability' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.liability.content' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.indemnification' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.indemnification.content' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.user-data' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.user-data.content' | translate }}</p>

  <h2>{{ 'legal.end-user-agreement.heading.miscellaneous' | translate }}</h2>
  <p>{{ 'legal.end-user-agreement.miscellaneous.content' | translate }}</p>

  <p><a class="link-contrast" [routerLink]="'.'" fragment="ref-a" id="comment-a">{{ 'legal.end-user-agreement.intellectual-property.footnote' | translate }}</a>&nbsp;{{ 'legal.end-user-agreement.dspace.prefix' | translate }} <a class="link-contrast" [href]="'legal.end-user-agreement.dspace.license-url' | translate" target="_blank" rel="noopener noreferrer">{{ 'legal.end-user-agreement.dspace.license-url' | translate }}</a></p>
}
