<div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-ncs mb-4">
  @if (homeNewsMetadataValue$ | async; as homeNewsMetadataValue) {
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <ds-markdown-viewer [value]="homeNewsMetadataValue"></ds-markdown-viewer>
      </div>
    </div>
  }
  @else {
    <div class="container">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-2">{{ 'home.default.title' | translate }}</h1>
          <p class="lead">{{ 'home.default.description' | translate }}</p>
        </div>
      </div>
      <ul>
        <li>{{ 'home.default.ingest' | translate }}</li>
        <li>{{ 'home.default.discover' | translate }}</li>
        <li>{{ 'home.default.identifiers' | translate }}</li>
      </ul>
      <p>{{ 'home.default.community' | translate }} <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning"
          target="_blank" role="link" tabindex="0">{{ 'home.default.community.link' | translate }}</a>.
      </p>
    </div>
  }
</div>
