<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      @if (homeNewsMetadataValue$ | async; as homeNewsMetadataValue) {
        <div class="container">
          <div class="jumbotron jumbotron-fluid">
            <ds-markdown-viewer [value]="homeNewsMetadataValue"></ds-markdown-viewer>
          </div>
        </div>
      }
      @else {
        <div class="d-flex flex-wrap">
          <div>
            <h1 class="display-2">{{ 'home.default.title' | translate }}</h1>
            <p><i class="fas fa-circle-info"></i> {{ 'home.default.description' | translate }}</p>
            <p class="lead">{{ 'home.default.description' | translate }}</p>
          </div>
          <div>
            <ul>
              <li>{{ 'home.default.ingest' | translate }}</li>
              <li>{{ 'home.default.discover' | translate }}</li>
              <li>{{ 'home.default.identifiers' | translate }}</li>
            </ul>
            <p>{{ 'home.default.community' | translate }} <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank" role="link" tabindex="0">{{ 'home.default.community.link' | translate }}</a>.</p>
            <p>{{ 'home.default.test-accounts' | translate }}</p>
            <ul>
              <li>{{ 'home.default.demo-admin' | translate }}</li>
              <li>{{ 'home.default.demo-community-admin' | translate }}</li>
              <li>{{ 'home.default.demo-collection-admin' | translate }}</li>
              <li>{{ 'home.default.demo-submitter' | translate }}</li>
            </ul>
          </div>
        </div>
      }
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">{{ 'home.default.photo-credit' | translate }} <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>
</div>
