<h1>{{ 'info.privacy.head' | translate }}</h1>
<p><em>{{ 'legal.privacy.last-updated' | translate }}</em></p>

<h2>{{ 'legal.privacy.heading.introduction' | translate }}</h2>
<p>{{ 'legal.privacy.introduction.first' | translate: { repository: ('repository.title' | translate) } }}</p>
<p>{{ 'legal.privacy.paragraph.2' | translate }}</p>
<p>{{ 'legal.privacy.paragraph.3' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.1' | translate }}</li>
  <li>{{ 'legal.privacy.list.2' | translate }}</li>
</ul>
<p>{{ 'legal.privacy.paragraph.4' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.3' | translate }}</li>
  <li>{{ 'legal.privacy.list.4' | translate }}</li>
</ul>
<p>{{ 'legal.privacy.paragraph.5' | translate }}</p>

<h2>{{ 'legal.privacy.heading.children-under-the-age-of-13' | translate }}</h2>
<p>{{ 'legal.privacy.paragraph.6' | translate }}</p>

<h2>{{ 'legal.privacy.heading.information-we-collect-about-you-and-how-we-collect-it' | translate }}</h2>
<p>{{ 'legal.privacy.paragraph.7' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.5' | translate }}</li>
  <li>{{ 'legal.privacy.list.6' | translate }}</li>
</ul>
<p>{{ 'legal.privacy.paragraph.8' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.7' | translate }}</li>
  <li>{{ 'legal.privacy.list.8' | translate }}</li>
  <li>{{ 'legal.privacy.list.9' | translate }}</li>
</ul>

<h2>{{ 'legal.privacy.heading.information-you-provide-to-us' | translate }}</h2>
<p>{{ 'legal.privacy.paragraph.9' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.10' | translate }}</li>
  <li>{{ 'legal.privacy.list.11' | translate }}</li>
  <li>{{ 'legal.privacy.list.12' | translate }}</li>
</ul>

<h2>{{ 'legal.privacy.heading.information-we-collect-through-automatic-data-collection-technologies' | translate }}</h2>
<p>{{ 'legal.privacy.paragraph.10' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.13' | translate }}</li>
  <li>{{ 'legal.privacy.list.14' | translate }}</li>
</ul>
<p>{{ 'legal.privacy.paragraph.11' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.15' | translate }}</li>
  <li>{{ 'legal.privacy.list.16' | translate }}</li>
  <li>{{ 'legal.privacy.list.17' | translate }}</li>
  <li>{{ 'legal.privacy.list.18' | translate }}</li>
</ul>
<p>{{ 'legal.privacy.paragraph.12' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.19' | translate }}</li>
</ul>

<h2>{{ 'legal.privacy.heading.how-we-use-your-information' | translate }}</h2>
<p>{{ 'legal.privacy.paragraph.13' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.20' | translate }}</li>
  <li>{{ 'legal.privacy.list.21' | translate }}</li>
  <li>{{ 'legal.privacy.list.22' | translate }}</li>
  <li>{{ 'legal.privacy.list.23' | translate }}</li>
  <li>{{ 'legal.privacy.list.24' | translate }}</li>
  <li>{{ 'legal.privacy.list.25' | translate }}</li>
  <li>{{ 'legal.privacy.list.26' | translate }}</li>
</ul>

<h2>{{ 'legal.privacy.heading.disclosure-of-your-information' | translate }}</h2>
<p>{{ 'legal.privacy.paragraph.14' | translate }}</p>
<p>{{ 'legal.privacy.paragraph.15' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.27' | translate }}</li>
  <li>{{ 'legal.privacy.list.28' | translate }}</li>
  <li>{{ 'legal.privacy.list.29' | translate }}</li>
  <li>{{ 'legal.privacy.list.30' | translate }}</li>
  <li>{{ 'legal.privacy.list.31' | translate }}</li>
</ul>
<p>{{ 'legal.privacy.paragraph.16' | translate }}</p>
<ul>
  <li>{{ 'legal.privacy.list.32' | translate }}</li>
  <li>{{ 'legal.privacy.disclosure.agreement.prefix' | translate }} <a class="link-contrast" [routerLink]="['/info/end-user-agreement']" target="_blank" rel="noopener noreferrer">{{ 'legal.privacy.disclosure.agreement.link' | translate }}</a> {{ 'legal.privacy.disclosure.agreement.suffix' | translate }}</li>
  <li>{{ 'legal.privacy.list.33' | translate }}</li>
</ul>

<h2>{{ 'legal.privacy.heading.changes-to-our-privacy-policy' | translate }}</h2>
<p>{{ 'legal.privacy.paragraph.17' | translate }}</p>
