<section class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mb-4">
  @if (homeNewsMetadataValue$ | async; as homeNewsMetadataValue) {
    <div class="container">
      <ds-markdown-viewer [value]="homeNewsMetadataValue"></ds-markdown-viewer>
    </div>
  } @else {
    <div class="container">
      <p class="eyebrow">{{ 'home.uist.news.eyebrow' | translate }}</p>
      <h2>{{ 'home.uist.news.title' | translate }}</h2>
      <p class="lead mb-0">{{ 'home.uist.news.description' | translate }}</p>
    </div>
  }
</section>
